<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row view-users">
    <div class="col-md-2">&nbsp;</div>
        <div class="col-md-4">
        <table class="table table-bordered" id="participants-list">
        </table>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row view-users">
    <div class="col-md-2">&nbsp;</div>
        <div class="col-md-6">
            <a href="#" onclick="generateTickets();" class="button" id="generateTickets" style="display: none;">Generate Tickets & Send Email</a>
            <a href="#" onclick="startGame();" class="button" id="startGame" style="display: none;" >Start Game</a>
        </div>
    <div class="col-md-6"></div>
</div>